.days-container{
    display:flex;
    justify-content: space-around;
    background-image: linear-gradient(to right,#1E8CC8,#00DCB4);
    color:white;
    padding: 15px 0 15px 0;
    border-radius:10px;
    font-family: sans-serif;
}

.day-box{
    padding: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    &.other-day{
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='3' stroke-dasharray='10%25%2c 16%25' stroke-dashoffset='61' stroke-linecap='butt'/%3e%3c/svg%3e");
    }
    &.today{
        border: 1px solid white;
    }
}



